# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=uber_like
POSTGRES_PORT=5432

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Application
PORT=3000
NODE_ENV=dev

# Bull Board (Dashboard de filas)
BULL_BOARD_USER=admin
BULL_BOARD_PASS=admin123

# Database URL (for Prisma)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/uber_like?schema=public"
